* { padding: 0; margin: 0; }
html, body {
  margin: 0;
  padding: 0;
}
/* Make body take up entire page */
body, #content {
  width: 100vw;
  height: 100vh;
}
/* Make the image autoscale to the page */
#content {
  object-fit: contain;
}

#heatmapContainer {
  /* The heatmap will set its own size to the window's via JS */
  z-index: 10;
  position: fixed !important;
  top: 0;
  left: 0;
}

body {
  margin-top: 0px;
  font-family: 'Rawline', sans-serif;
  background-color: var(--cor-background);
  margin: 0px;
}

:root {
  --cor-tema: #102d69;
  --cor-background: white;
  --cor-footer: #252525;
  --cor-middleground: #F0F0F0;
  --cor-footer-conteudo: white;
  --cor-item-nav: var(--cor-background);
  --cor-texto-escuro: #333333;
  --cor-texto-medio: #555555;
  --cor-texto-claro: white;

  font-size: 12px;

  --fonte-1down: 1rem;
  --fonte-base: 1.25rem;
  --fonte-1up: 1.563rem;
  --fonte-2up: 1.953rem;
  --fonte-3up: 2.441rem;
  --fonte-4up: 3.052rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
  font-size: var(--fonte-base);
  font-weight: 400;
  line-height: 1.45;
  color: var(--cor-texto-escuro);  
  margin-bottom: 16px;
}

p a {
  text-decoration: underline;
  color: #0000EE;
}

p a:visited {
  color: #551A8B;
}

p a:hover {
  color: var(--cor-texto-escuro);
}

h1 {
  font-size: var(--fonte-3up);
  font-weight: 400;
  line-height: 1.15;
  color: var(--cor-texto-medio);
  margin-bottom: var(--fonte-3up);
  text-wrap: wrap;
}

h2 {
  font-size: var(--fonte-2up);
  font-weight: 400;
  line-height: 1.15;
  color: var(--cor-texto-medio);
  margin-bottom: var(--fonte-2up);
}

img {
  height: 100%;
}

address {
  font-style: inherit;
}

.camada-1 {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) ;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "topo"
    "imagem"
    "noticias"
    "links"
    "apresentacao"
    "mapa"
    "footer";
    margin-left: auto;
    margin-right: auto;
}

.topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-area: topo;
  margin: 0 auto;
}

.cabecalho-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--cor-background);
} 

.cabecalho {
  grid-area: cabecalho;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items : center;
  max-width: 1170px;
  width: 100%;
  margin: 20px 30px 25px;

}

.cabecalho-esquerda {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
}

.logo {
  background-color: white;
  height: 100px;
  display: flex;
  margin-right: 20px;
}

.centro-titulo {
  font-style: normal;
  font-weight: 500;
  font-size: var(--fonte-1up);
  line-height: 1.15;
  text-transform: uppercase;

  color: var(--cor-texto-medio);

  display: flex;
}

.centro-titulo:hover {
  color: var(--cor-tema);
}

.departamento-titulo {
  font-style: normal;
  font-weight: 700;
  font-size: var(--fonte-3up);
  line-height: 1.15;

  color: var(--cor-texto-escuro);

  display: flex;
  flex-shrink: 1;
}

.brasao {
  height: 100px;
}

.menu-wrapper {
  background-color: var(--cor-tema);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 48px;
}

.top-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
}

.sidebar-fixed {
  top: 71.436px;
  z-index: 90;
  position: fixed;
  width: 190px;
}

.sidebar-end {
  align-self: end;
}

.sidebar-wrapper {
  align-self: flex-start;
}

.menu {
  grid-area: menu;

  display: flex;
  justify-content: space-between;
  width : 100%;
  max-width: 1170px;
  margin: 0 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  color: var(--cor-item-nav);
  font-size: var(--fonte-2up);
  font-weight: 600;
  list-style-type: none;
  line-height: 1.15;
}

#menu-buttons {
  display: flex;
  flex-direction: row-reverse;
}

#menu-buttons i:hover {
  background-color: var(--cor-background);
  color: var(--cor-tema);
}

#menu-buttons i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: var(--fonte-2up);
  line-height: 1.15;
  color: var(--cor-item-nav);
  min-width: 40px;
}

.menu ul {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 26px;
  margin: 0;

  color: white;
  font-size: var(--fonte-1up);
  font-weight: 500;
  list-style-type: none;
  line-height: 1.15;  
}

.menu ul li a{  
  height: 48px;
  display: flex;
  /*margin-right: 26px;  */
  padding: 10px 0 14px;
  box-sizing: border-box;
  align-items: center;
}

.menu ul li ul {  
  margin-top: 0px;
  display: none;
  position: absolute;
  background-color: var(--cor-background);
  min-width: 200px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) ;
  z-index: 1;
}

.menu ul li ul li a{
  display: flex;
  color: var(--cor-texto-escuro);
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
  padding: 10px 16px 10px;
  margin: 0;
  text-decoration: none;
}

.menu ul li ul li a:hover {
  background-color: var(--cor-middleground);
  text-decoration: none;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul li a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.imagem {
  height: 30vh;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover; 

  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.16);
}

.corpo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  

  gap: var(--fonte-3up);
  margin-top: var(--fonte-2up);
}

#index.corpo {
  margin-top: 0px;
  margin-bottom: var(--fonte-4up);
}

#index.corpo .imagem {
  height: 15vh;
}





.corpo-grid {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 30px;
  margin: 0 30px 60px;
  width: 100%;

  grid-template-areas:
  "sb ct";
}

.sidebar {
  width: 190px;
  display: flex;
}

.content-grid {
  grid-area: ct;
}

.menu-lateral {
  border-top: 1px solid var(--cor-middleground);
}

.menu-lateral li {
  list-style: none;
  border-bottom: 1px solid var(--cor-middleground);
}

.menu-lateral li:hover {
  background-color: var(--cor-middleground);
  border-bottom: 2px solid var(--cor-tema);
}

.menu-lateral li:hover a {
  padding: 16px 10px 15px;
}

.menu-lateral li a{
  display: block;
  box-sizing: border-box;
  width: 100%;
  
  font-weight: 600;
  font-size: var(--fonte-1up);
  line-height: 1.15;
  color: var(--cor-tema);

  padding: 16px 10px;
}

.cards-lista {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.noticias {
  max-width: 1170px;
  margin: 0px 30px;
}

.paginas-nav {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  color: var(--cor-texto-escuro);
}

.paginas-numeros {
  display: flex;
}

.paginas-nav *{
  font-weight: 600;
  font-size: var(--fonte-1up);
  line-height: 1.15;
}

.paginas-nav a {
  color: var(--cor-tema);
}

.clickable-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
}

.pagina-link-nav {
  text-decoration: underline;
}

.pagina-link-nav:hover {
  color: var(--cor-texto-claro);
  text-decoration: none;
  background-color: var(--cor-tema);
}

#seta-proximo {
  margin-left: 0.5rem;
}

#seta-anterior {
  margin-right: 0.5rem;
}


#seta-proximo::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  color: var(--cor-tema);

  margin-left: 0.5rem;  

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 1;
}

#seta-proximo:hover::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  color: var(--cor-tema);

  margin-left: 0.5rem; 

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transform: translateX(5px);
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#seta-anterior::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f060";
  color: var(--cor-tema);

  margin-right: 0.5rem;  

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 1;
}

#seta-anterior:hover::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f060";
  color: var(--cor-tema);

  margin-right: 0.5rem; 

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transform: translateX(-5px);
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.conteudo {
  min-height: 300px;
  margin-bottom: 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "coluna1 coluna2";
  gap: 30px;
}

.noticias-coluna {
  grid-area: coluna2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.noticias-coluna-unica {
  grid-area: coluna1;
}

#noticia-principal {
  font-size: var(--fonte-3up);
  font-weight: 500;
}

.noticia-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.noticia-wrapper:hover .noticia-sem-img{
  background: var(--cor-middleground);
}

.noticia-sem-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--cor-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--fonte-base);
  box-sizing: border-box;
  min-height: 140px;
}

.wide-conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem; 
  max-width: 670px;

  padding: 16px 0 16px var(--fonte-2up);
}


.noticia-sem-img:hover {
  background: var(--cor-middleground);
}

.noticia-com-img {
  background-size: cover;
  background-position: center;
  display: block;
}

.background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 180px;
  justify-content: flex-end;
  
  display: flex;
  flex-direction: column;
  padding: var(--fonte-base);
  box-sizing: border-box;  
}

.noticia-com-img .rotulo {
  color: var(--cor-texto-claro);
}

.rotulo {
  z-index: 1;
  position: absolute;
  top: var(--fonte-base);
  left: var(--fonte-base);

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.45;
  color: var(--cor-texto-medio);

  gap: var(--fonte-2up);
} 

.rotulo-claro {
  z-index: 1;
  position: absolute;
  top: var(--fonte-base);
  left: var(--fonte-base);

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.45;
  color: var(--cor-texto-claro);

  gap: var(--fonte-2up);
} 

.rotulo-claro a {
  color: var(--cor-texto-claro);
}

.rotulo-claro a:hover {
  color: var(--cor-tema);
}

.rotulo a {
  color: var(--cor-tema);
}

.rotulo a:hover{
  color: var(--cor-texto-escuro);
}

.noticia-sem-img-titulo {  
  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-2up);
  line-height: 1.15;
  color: var(--cor-tema);

  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.noticia-com-img-titulo {  
  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-2up);
  line-height: 1.15;
  color: var(--cor-tema);

  height: 100%;
  display: flex;
  align-items: flex-end;  
}

.noticia-wrapper:hover .background-wrapper {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, var(--cor-middleground) 100%);
}

/*CARDS*/
.noticia-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#noticias .noticia-wrapper:hover .noticia-sem-img{
  background: var(--cor-middleground);
}

#noticias .noticia-sem-img {
  position: relative;
  width: 100%;
  background: var(--cor-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--fonte-base);
  box-sizing: border-box;
  height: 180px;
}

.wide-conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem; 
  max-width: 670px;

  padding: 16px 0 16px var(--fonte-2up);
}


#noticias .noticia-com-img {
  background-size: contain;
  background-position: right;
  display: block;
  background-repeat: no-repeat;
}

#noticias .background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 180px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: var(--fonte-base);
  box-sizing: border-box; 
}

.noticia-com-img .rotulo {
  color: var(--cor-texto-claro);
}

.rotulo {
  z-index: 1;
  position: absolute;
  top: var(--fonte-base);
  left: var(--fonte-base);

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.45;
  color: var(--cor-texto-medio);

  gap: var(--fonte-2up);
} 

.rotulo-claro {
  z-index: 1;
  position: absolute;
  top: var(--fonte-base);
  left: var(--fonte-base);

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.45;
  color: var(--cor-texto-claro);

  gap: var(--fonte-2up);
}

.rotulo a {
  color: var(--cor-tema);
}

.rotulo a:hover{
  color: var(--cor-texto-escuro);
}

.noticia-sem-img-titulo {  
  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-2up);
  line-height: 1.15;
  color: var(--cor-tema);

  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#noticias .noticia-com-img-titulo {  
  width: 70%;
  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-2up);
  line-height: 1.15;
  color: var(--cor-tema);

  height: 100%;
  display: flex;
  align-items: center;  
}

#noticias .noticia-wrapper:hover .background-wrapper {
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 22%, var(--cor-middleground) 30%);
}

/*NOTICIA*/

.noticia-h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: var(--fonte-base);
  font-weight: 400;
  line-height: 1.45;
  color: var(--cor-texto-escuro);

  margin-bottom: var(--fonte-2up);
}

.noticia-categorias a {
  color: var(--cor-tema);
  text-decoration: underline;
}

.noticia-categorias a:hover {
  color: var(--cor-texto-escuro);
}

.noticia-categorias {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.noticia-compartilhe {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.noticia-redes {
  color: var(--cor-tema);
}

.noticia-redes a:hover {
  color: var(--cor-texto-escuro);
}

.noticia-imagem {
  height: auto;
  width: 100%;
}

.noticia-imagem-legenda {
  font-size: var(--fonte-1down);
}

.noticia-links-relacionados {
  margin-bottom: var(--fonte-3up);
}

.noticia-link-relacionado {
  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-1up);
  line-height: 1.15;
  color: var(--cor-tema);
  margin-bottom: 8px;
  word-break: break-word;
}

.noticia-link-relacionado::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f019";
  color: var(--cor-tema);

  margin-right: 0.5rem;  

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;
}

.noticias-relacionadas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/*FIM DE NOTICIA*/

/*DOCUMENTOS*/
.documentos-lista-categorias {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.documentos-categoria {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.documentos-categoria div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.documentos-categoria h3 {
  color: var(--cor-texto-escuro);
  font-size: var(--fonte-1up);
  font-weight: 500;
  width: 100%;
  line-height: 2;
  border-bottom: 1px solid var(--cor-middleground);
}

.documentos-categoria a {
  font-size: var(--fonte-base);
  text-decoration: underline;
  color: var(--cor-tema);
  line-height: 1.45;
  margin-left: 20px;
}

.documentos-categoria a:hover {
  background-color: var(--cor-middleground);
}

.documentos-categoria a:visited {
  color: #551A8B;
}


/*FIM DE DOCUMENTOS*/

.link-wrapper {
  display: flex;
  margin-bottom: 16px;
}

.justify-end {
  justify-content: flex-end;
}

.mais-link {
  display: inline;
  flex-shrink: 1; 
    
  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-1up);
  line-height: 1.15;

  /* identical to box height, or 111% */

  color: var(--cor-tema);
}

.mais-link::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  color: var(--cor-tema);

  margin-left: 0.5rem;  

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 1;
}

.mais-link:hover::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  color: var(--cor-tema);

  margin-left: 0.5rem; 

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transform: translateX(5px);
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area : links;
  width: 100%;
  justify-content: center;

  background-color: var(--cor-middleground);

  margin-bottom: 16px;
}

.links {  
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--fonte-3up);  
  margin: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  max-width: 1170px;
  height: auto;

  /* BG BLOCO */
  background: var(--cor-middleground);
  
}

.link-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.link-image-wrapper {
  width: 100px;
  height: 100px;
  border: 3px solid var(--cor-tema);
  color: var(--cor-tema);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.815rem;
} 

.link-full:hover .link-image-wrapper{
  color: var(--cor-background);
  background-color: var(--cor-tema);
}

.link-full:hover .link-text{
  color: var(--cor-tema);
}

.link-image {
  display: block;
  width: 60%;
  height: 60%;
}

.link-text {
  width: 120px;

  font-style: normal;
  font-weight: 600;
  font-size: var(--fonte-1up);
  line-height: 1.15;

  /* or 125% */
  text-align: center;

  color: var(--cor-texto-escuro);
}

.apresentacao {
  /* Auto layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;  
  padding: 50px 30px;
  margin: 0 30px;
  column-gap: 30px;

  max-width: 1110px;
  height: auto;

  /* BG BLOCO */
  background: var(--cor-middleground);
}

.youtube {
  height: 100%;
  min-height: 240px;
  width: 100%;
}

.mapa {
  max-width: 1170px;
  margin: 0 30px;
  display: grid;
  grid-template-rows: min-content min-content;  
}

.mapa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "mapa-e-foto so-foto";
  gap: 30px;
}

#mapa-coluna1 {
  grid-area: mapa-e-foto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

#mapa-coluna2 {
  grid-area: so-foto;
}

.mapa img {
  width: 100%;
  object-fit: cover;
}

#footer-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--cor-footer);
  justify-content: center;  
  margin: 0 auto;
}

footer {
  width: 100%;
  max-width: 1170px;
  margin: 30px 30px 30px 30px;
  display: flex;
  gap: 20px; 
  flex-direction: column;
  align-items: flex-start; 

  font-style: normal;
  font-weight: 400;
  font-size: var(--fonte-base);
  line-height: 1.45;  
  color: var(--cor-texto-claro);
}

#footer-dados {  
  height: min-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

#footer-dados > div {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 4px;
}

#footer-dados > div > div {
  margin-bottom: 0;
}

#footer-dados > div > div > a {
  font-size: var(--fonte-base);
  color: var(--cor-texto-claro);
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 0;
  text-decoration: none;
}

#footer-dados > div > div > a::after {
  color: var(--cor-texto-claro);
  line-height: 1;
}

#footer-dados > div > div:first-child {
  font-size: var(--fonte-2up);
  line-height: 1.15;
  font-weight: 600;
}

#footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

#footer-logo {
  height: 200px;
}

.footer-direita {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items: flex-end;  
}

#footer-contato {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;


  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.redes-sociais {
  display: flex;
  flex-direction: row; 
  gap: 10px;
}


.redes-sociais i {
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 3.052rem;
}

#footer-creditos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 50px;
}

#footer-creditos a {
  height: 100%;
}

.botao-menu {
  height: 100%;
  width: 25px;
}

#footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;  
}

#footer-linha {
  width: 100%;
  height: 1px;
  background-color: var(--cor-texto-claro);
}

#footer-ultima-linha {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
    
  width: 100%;
} 

#footer-ultima-linha a {
  text-decoration: underline;
  display: inline-block;
}

#footer-ultima-linha div:nth-child(2) a {  
  padding: 0 5px 0 8px;
  border-left: solid 1px var(--cor-texto-claro);
}

#footer-ultima-linha div:nth-child(2) a:first-child {  
  padding: 0 5px 0 0px;
  border-left: solid 0px var(--cor-texto-claro);
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 11px;
  }

  .cabecalho{
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 12px;
    margin: 20px 20px;
  }

  .logo {
    display: none;
  }

  .departamento-titulo {
    font-size: var(--fonte-2up);
  }

  .centro-titulo {
    font-size: var(--fonte-base);
    line-height: 1.45;
  }

  .brasao {
    height: 80px;
  }

  .imagem {
    display: none;
    height: 10vh;
  }


  #index.corpo {
    margin-top: var(--fonte-1up);
  }

  .corpo {
    margin-top: var(--fonte-1up);
    gap: 30px;
    margin-bottom: 60px;
  }

  .corpo-grid {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 20px ;
    gap: 0px;
  }

  .content-grid {
    margin: 0 20px;
    grid-area: ct;
  }

  .sidebar {
    display: none;
  }

  

  .noticias {
    margin-left: 20px;
    margin-right: 20px;
  }

  .paginas-numeros {
    display: none;
  }

  #noticia-principal {
    font-size: var(--fonte-2up);
    font-weight: 600;
  }

  .noticia-titulo {
    font-size: var(--fonte-2up);
  }

  .noticias-relacionadas {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .noticia-h2 {
    flex-direction: column;
    gap: 8px;
  }

  .noticia-compartilhe {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .apresentacao {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mapa {
    margin-left: 20px;
    margin-right: 20px;
  }  

  .conteudo {
    min-height: 415px;
    margin-bottom: 30px;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "coluna1"
    "coluna2";
    gap: 20px;
  }

  .noticias-coluna {
    gap: 20px;
  }  

  .links {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 0 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    max-width: 1170px;
    height: auto;

    /* BG BLOCO */
    background: var(--cor-middleground);
  
  }

  .link-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }

  .link-image-wrapper {
    width: 60px;
    height: 60px;
    border: 3px solid var(--cor-tema);
    color: var(--cor-tema);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .link-image-wrapper i {
    font-size: 3rem;
  }

  .link-image {
    display: block;
    width: 60%;
    height: 60%;
  }

  .link-text {
    width: 100px;
  }

  .corpo .apresentacao {
    /* Auto layout */
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "titulo-apresentacao"
      "yt"
      "texto-apresentacao";
    padding: 20px 20px;
    margin: 0 20px;
    column-gap: 30px;
    max-width: 1110px;
    height: auto;
    /* BG BLOCO */
    background: var(--cor-middleground);
  }

  .mapa .mapa-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "mapa-e-foto";
    gap: 30px;
  }

  #mapa-coluna2 {
    display: none;
  }

  .cabecalho {
    margin: 20px 20px 15px;
  }

  .menu {
    display: none;   
    margin: 0 20px;
  }  

  footer {
    font-size: var(--fonte-base);
    margin-left: 20px;
    margin-right: 20px;
  }

  #footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-dados {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-direita {
    display: block;
  }

  #footer-creditos {
    justify-content: flex-start;
  }

  #footer-logo {
    height: 100px;
  }

  #footer-ultima-linha {
    flex-direction: column;
    gap: 4px;
  }
}